
<div title="<%= @post.description %>" class="panel">
      <h2><%= @post.description %></h2>
      <p><%= @post.neighbourhood.name %>, <%= @post.neighbourhood.area %>
        <br/> $<%= @post.rent %></p>
</div>