<h1>Add a Job Posting: Step 2 of 2</h1>
<h2><span style='color: silver'>1. Create your ad,</span> 2. Review your ad</h2>

<%= link_to '&laquo; Back', :action => 'new' %> 

<p>  
  This is what your posting will look like:
</p>

  <div style='background-color: silver; padding: 5px 10px 5px 10px;'>
    <%= render :partial => 'post', :locals => { :post => @post } %>
  </div>
  
  <br>
  
  <% form_for :post, @post, :url => { :action => 'create' } do |f| %>

     <%= f.hidden_field :company %> 
     <%= f.hidden_field :web %>     
     <%= f.hidden_field :title %>   
     <%= f.hidden_field  :desc %> 
     <%= f.hidden_field  :category_id %> 
     <%= f.hidden_field  :full_time %> 
     <%= f.hidden_field  :part_time %> 
     <%= f.hidden_field  :contract %>
     <%= f.hidden_field  :contact %> 
 


<p><b>Confirm CAPTCHA to post.</b></p>

<div id="captcha_display" style='background: red; color: white; border: 1pt solid black; font-size: 200%'>
 &nbsp;&nbsp;<%= @captcha_display.upcase %>&nbsp;&nbsp;
</div>

<p>
Enter the text displayed in <span style='background: red; color: white;'>WHITE ON RED</span> above:
<br>
<%= text_field_tag 'captcha' %>
</p>

<%= hidden_field_tag 'captcha_guide', @captcha_guide %>
 
<%= submit_tag 'Yes, Post It' %>  <%= link_to '&laquo; Back', :action => 'new' %>  
  
<% end %>
  